<div class="container">
  <h1>Your Fishes</h1>
  <% @received_bookings.each do |booking| %>
  <div class="card-product">
    <img src="<%= cl_image_path booking.fish.photo.key %>" />
    <div class="card-product-infos">
      <h2>booking.fish.name</h2>
      <p>"User.name" interested on "booking.fish.name" from "date_start" to "date_end"</p>
      <p>Total: "booking.fish.price * total_days"</p>
    </div>
    <div class="card-product-request">
      <% if booking.status == "pending" %>
        <%= link_to booking_path(booking, query: "accepted"), method: :patch, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-check-circle"></i>
        <% end %>
        <%= link_to booking_path(booking, query: "rejected"), method: :patch, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-times-circle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
