<div class="container bg-white p-0">
  <div class="aquarium-video">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554562622-91f926fc46be?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1653&q=80);">
      <h1>You can have your own fish</h1>
      <p>It was never so easy to have your own fish...</p>
      <a class="btn btn-outline-primary" href="#">I have a fish</a>
      <a class="btn btn-outline-light" href="#">I'm looking for a fish</a>
    </div>
  </div>

  <div class="shadow p-3 mb-5 bg-white rounded p-5">
    <h1 class="how-it-works">How it works?</h1>
    <h3 class="got-a-fish">If you have a fish...</h3>
    <div class="d-flex justify-content-between">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1539236754983-085fe1449ba4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=720&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 1: Register as a user.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1540759893615-cb37a9f6027a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 2: Create your fish's profile.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1524704654690-b56c05c78a00?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 3: Select the dates your fish is avaliable.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1539895360896-16462a60ad12?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 4: Deliver your fish for its new friend.</p>
      </div>
    </div>

  </div>


  <h3 class="looking-for-a-fish">If you are looking for a fish...</h3>
  <div class="d-flex justify-content-between">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1571752726703-5e7d1f6a986d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 1: Search for a fish in your chosen location.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1520990269335-9271441e202f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1462&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 2: Select the dates you want to rent a fish.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1539131258078-89aaa90dd845?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 3: Find your perfect fish.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1583355362299-d09b065a259f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1334&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 4: Request to book and wait for confirmation.</p>
      </div>
    </div>

  </div>
  </div>

</div>
