<div class="bg-white p-0">
  <div class="aquarium-video">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://i.pinimg.com/originals/6d/51/43/6d51430a4cf9d541196fc05188a542f8.gif);">
      <h1>Looking for a fish?</h1>
      <p>If you love fish but don't have time to own one full-time, renting one has never been so easy...</p>
      <%= link_to "I have a fish", new_fish_path, class: "btn btn-light" %>
      <%= link_to "I'm looking for a fish", fishes_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="shadow mb-5 bg-white rounded p-5">
    <h1 class="how-it-works">How does it work?</h1>

    <div class="d-flex justify-content-between">
      <!-- <div class="card">
        <img src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cmVnaXN0ZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Step 1: Register as a user.</p>
        </div>
      </div> -->

    <!-- <div class="card">
      <img src="https://images.unsplash.com/photo-1540759893615-cb37a9f6027a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 2: Create your fish's profile.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1599756380350-b3a618d1f2d0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FsZW5kYXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 3: Select the dates your fish is avaliable.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1581579438747-1dc8d17bbce4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTZ8fGZpc2glMjBwZXJzb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 4: Deliver your fish to its new friend.</p>
      </div>
    </div> -->

  </div>
  <br>
  <br>

 <!--  <h3 class="looking-for-a-fish">If you are looking for a fish...</h3> -->
  <br>
  <!-- <div class="d-flex justify-content-between">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bG9jYXRpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 1: Search for a fish in your chosen location.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1546263463-02ec45e884fd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGNhbGVuZGFyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 2: Select the dates you want to rent a fish.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1497671954146-59a89ff626ff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8ZmlzaHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 3: Find your perfect fish.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1599689444589-133726281155?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FpdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Step 4: Request to book and wait for confirmation.</p>
      </div>
    </div>
  </div> -->
  <br>
<br>
<br>

    <h3>If you have a fish...</h3>
    <div class="row">
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1556155092-490a1ba16284?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cmVnaXN0ZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">

          </div>
          <div class="homepage-card-content">
            <h5>Step 1</h5>
            <p>Register as a user.</p>

          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1540759893615-cb37a9f6027a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80')">
          </div>
          <div class="homepage-card-content">
            <h5>Step 2</h5>
            <p>Create your fish's profile.</p>

          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1599756380350-b3a618d1f2d0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FsZW5kYXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">

          </div>
          <div class="homepage-card-content">
            <h5>Step 3</h5>
            <p>Select the dates your fish is avaliable..</p>

          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1581579438747-1dc8d17bbce4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTZ8fGZpc2glMjBwZXJzb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">

          </div>
          <div class="homepage-card-content">
            <h5>Step 4</h5>
            <p>Deliver your fish to its new friend.</p>

          </div>
        </div>
      </div>

    </div>

    <h3>If you are looking for a fish...</h3>
    <div class="row">
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1556155092-490a1ba16284?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cmVnaXN0ZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">

          </div>
          <div class="homepage-card-content">
            <h5>Step 1</h5>
            <p>Search for a fish in your chosen location.</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1546263463-02ec45e884fd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGNhbGVuZGFyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">

          </div>
          <div class="homepage-card-content">
            <h5>Step 2</h5>
            <p>Select the dates you want to rent a fish.</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1599756380350-b3a618d1f2d0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FsZW5kYXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">

          </div>
          <div class="homepage-card-content">
            <h5>Step 3</h5>
            <p>Select the dates your fish is avaliable..</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="homepage-card">
          <div class="homepage-card-picture" style="background-image: url('https://images.unsplash.com/photo-1581579438747-1dc8d17bbce4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTZ8fGZpc2glMjBwZXJzb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">

          </div>
          <div class="homepage-card-content">
            <h5>Step 4</h5>
            <p>Deliver your fish to its new friend.</p>

          </div>
        </div>
      </div>

    </div>
  </div>


</div>
