.map {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1517777170473-009c8c3734c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");

  /* Full height */
  height: 100vh;
  width: 30%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-container{
    display: flex;
}

.fish-box{
    width: 70%;
}

.fish-box > h1{
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    padding: 48px;
    margin: 0 32px 0 32px;
    color: #333;
}

.cards a{
  text-decoration: none;
  color: inherit;
}

.fish-card{
    border-radius: 10px;
    width: 22rem;
    margin-right: 0;
}

.card-head{
  height: 18rem;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease-in-out;
  filter: saturate(80%);
    &:hover{
    filter: saturate(220%);
  }
}

.fish-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fish-info > .fish-price{
  font-size: 20px;
 }

 .price-number{
  font-weight: bold;
  font-size: 25px;
 }

 .fish-specie{
  font-style: italic;
 }

