.flex-container {
  display: flex;
  justify-content: space-between;

}

.carousel-inner {
  margin-bottom: 60px;
}

#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.fish-detail {
  margin-right: 100px;
}