.flex-container {
  display: flex;
  justify-content: space-between;

}

.carousel-inner {
  margin-bottom: 60px;
}

#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.fish-detail {
  margin-right: 100px;
}

.card-fish {
  background-color: white;
  padding: 20px;
  color: #333;
  padding: 16px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
