<div class="index-container">

<%# Fishes layout %>
  <div class="fish-box">
    <h1>Find the ideal fish for you</h1>
    <div class="container cards">
    
      <% @fishes.each do |fish| %>
      <div class="card fish-card" style="width: 15rem;">
        <img src="https://source.unsplash.com/featured/?fish,aquarium" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="fish-info">
            <h3 class="card-title"><%= fish.name %></h3>
            <p class="fish-price "><span class="price-number"><%= fish.price %></span><i class="fas fa-euro-sign"></i>/day</p>
          </div>
            <p class="card-text fish-specie"><i class="fas fa-fish"></i></i> Specie </p>
            <p class="card-text fish-description"><i class="fas fa-map-marker-alt"></i> <%= fish.location %></p>
          <a href="#" class="btn btn-primary">More about me</a>
        </div>
      </div>
    <% end %>
    </div>
  </div>

    <%# Map layout %>
  <div class="map">
    
  </div>
</div>
